<form [formGroup]="data" (ngSubmit)="save()">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="cancel()" [strong]="true">Cancelar</ion-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Editar reporte</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true" color="success" [disabled]="!data.valid">Confirmar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" [fullscreen]="true">
   <ion-list>
    <ion-item>
      <ion-label position="floating">Colonia</ion-label>
      <ion-input type="text" formControlName="colonia"></ion-input>
      <ion-note slot="error" *ngIf="(colonia.dirty || colonia.touched) && colonia.errors">Por favor ingresa una colonia</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calle</ion-label>
      <ion-input type="text" formControlName="calle"></ion-input>
      <ion-note slot="error" *ngIf="(calle.dirty || calle.touched) && calle.errors">Por favor ingresa una calle</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero exterior</ion-label>
      <ion-input type="text" formControlName="numeroexterior"></ion-input>
      <ion-note slot="error" *ngIf="(numeroexterior.dirty || numeroexterior.touched) && numeroexterior.errors">Por favor ingresa un numero exterior</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero interior</ion-label>
      <ion-input type="email" formControlName="numerointerior"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>Estatus</ion-label>
      <ion-select formControlName="estatus"  >
        <ion-select-option  [value]="1">Arreglado</ion-select-option>
        <ion-select-option  [value]="2">Sin arreglar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Codigo postal</ion-label>
      <ion-input type="email" formControlName="cp"></ion-input>
      <ion-note slot="error" *ngIf="(cp.dirty || cp.touched) && cp.errors">Por favor ingresa un codigo postal</ion-note>
    </ion-item>
    <ion-item>
      <ion-textarea label="Comentario" labelPlacement="floating"  placeholder="..." formControlName="comentario"></ion-textarea>
    </ion-item>

   </ion-list>
  </ion-content>
  </form>
