<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p style="text-align: center;" >Inicio</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="chart-row">
    <ion-card color="dark" class="chart-container">
      <ion-card-header>
        <p style="text-align: center;" >Reportes arreglados</p>
      </ion-card-header>
      <ion-card-content>

            <canvas  id="MyChart" >{{ chart }}</canvas>

      </ion-card-content>
    </ion-card>
    <ion-card color="dark" class="chart-container">
      <ion-card-header>
        <p style="text-align: center;" >Reportes sin arreglar</p>
      </ion-card-header>
      <ion-card-content>

          <canvas  id="MyChart1" >{{ chart1 }}</canvas>

      </ion-card-content>
    </ion-card>
    <ion-card color="dark" class="chart-container">
      <ion-card-header>
        <p style="text-align: center;" >Registro de reportes</p>
      </ion-card-header>
      <ion-card-content>
          <canvas  id="MyChart2" >{{ chart2 }}</canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reportes recientes</ion-card-title>
    </ion-card-header>
    <ion-card-content class="swiper-card-content">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuarios mas activos</ion-card-title>
    </ion-card-header>
    <ion-card-content class="swiper-card-content">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ion-card color="dark">
              <ion-card-content>
                <ion-item color="dark" lines="none">
                  <ion-avatar slot="start">
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                  <div class="flex-container">
                    <div>
                      <ion-label>Diego Beltran Lopez</ion-label>
                    </div>
                    <div>
                      <ion-label>Empleado</ion-label>
                    </div>
                    <div>
                      <ion-label><p>Ha registrado <strong>500</strong> reportes</p></ion-label>
                    </div>
                  </div>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="swiper-slide">
            <ion-card color="dark">
              <ion-card-content>
                <ion-item color="dark" lines="none">
                  <ion-avatar slot="start">
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                  <ion-label>Alexander Roman</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="swiper-slide">
            <ion-card color="dark">
              <ion-card-content>
                <ion-item color="dark" lines="none">
                  <ion-avatar slot="start">
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                  <ion-label>Samuel Castro</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
